/*-- background image\*/
/*body {*/
    /*background: url("./../images/starWarsAircraft.png") no-repeat;*/
/*}*/

.main-header {
    font-size: xx-large;
    font-family: "Bodoni 72 Oldstyle";
    text-align: center;
    color: black;
    margin-top: 50px;
}

.player-image-1 {
    width: 50%;
    heigth: 50%;
    border: 5px solid black;
    padding: 20px;
}


.text-1 {
    position: relative;
    z-index: 2;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: medium;
}

.row-1 {
    position: relative;
}

.bottomcenter-1 {
    position: absolute;
    bottom: 25px;
}


.player-image-2 {
    width: 65%;
    heigth: 65%;
    border: 5px solid black;
    padding: 20px;
}


.text-2 {
    position: relative;
    z-index: 2;
    color: black;
    font-weight: bold;
    text-align: center;
}

.row-2 {
    position: relative;
}

.bottomcenter-2 {
    position: absolute;
    bottom: 25px;
}

.player-image-3 {
    width: 70%;
    heigth: 70%;
    border: 5px solid black;
    padding: 20px;
}


.text-3 {
    position: relative;
    z-index: 2;
    color: black;
    font-weight: bold;
    text-align: center;
}

.row-3 {
    position: relative;
}

.bottomcenter-3 {
    position: absolute;
    bottom: 25px;
}


.player-image-4 {
    width: 65%;
    heigth: 65%;
    border: 5px solid black;
    padding: 20px;
}


.text-4 {
    position: relative;
    z-index: 2;
    color: black;
    font-weight: bold;
    text-align: center;
}

.row-4 {
    position: relative;
}

.bottomcenter-4 {
    position: absolute;
    bottom: 25px;
}


body, html {
    height: 100%;
}


.bg {
    background-image: url("../images/hungerGamesBackground_2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.chgtextcolor {
    color: black;
}


/*#img-as-background {*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/

/*#img-as-background .container {*/
    /*height: 100%;*/
    /*padding: 20px;*/
/*}*/

#img-as-background img {
    position: absolute;
    width: 100%;
    height: 140%;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.65;
    background-position: center;
}








